{% extends 'base.html.twig' %} {% block titulo %}Añadir vídeo{% endblock %} {% block estilos %}
<style>
    .formulario_principal {
        background: white;
        width: var(--ancho);
        margin: 5mm auto 5mm auto;
        padding: 5mm 5mm 5mm 5mm;
        border: 1mm solid gray;
    }
    
    .formulario_principal>div:first-child {
        display: flex;
    }
    
    body>div.cuerpo>div.contenido>form>div:nth-child(2) {
        border-top: 1px solid lightgray;
        padding-top: 4mm;
        margin-top: 4mm;
        text-align: right;
    }
    
    .form_izquierdo {
        /*background: red;*/
        width: 35%;
        border-right: 1px solid lightgray;
        margin-right: 5mm;
    }
    
    .form_derecho {
        /*background: blue;*/
        width: 65%;
    }
    
    .form_derecho img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 2mm;
    }
    
    .form_derecho div {
        width: 100%;
    }
    
    .campo {
        box-sizing: border-box;
        height: 3.4em;
        padding: .8em 0em;
        font-weight: 100;
        font-size: 1em;
        line-height: 1.8;
        width: 59%;
        display: inline-table;
    }
    
    .infoi {
        width: 80%;
        display: inline-block;
    }
    
    .dato {
        width: 20%;
        display: inline-block;
        text-align: right;
    }
    
    .info {
        width: 40%;
        display: inline-block;
        color: gray;
        font-weight: 100;
        margin-top: 2mm;
        margin-bottom: 2mm;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    
    .subrayado {
        width: 100%;
        border-bottom: 1px lightgray solid;
    }
    
    .larga {
        width: 59%;
    }
    
    .portada {
        width: 80%;
        height: auto;
        cursor: pointer;
        margin-right: 5mm;
        margin-top: 7mm;
    }
    
    .marco {
        width: 100%;
        text-align: center;
    }
    
    .contenedor {
        margin-right: 5mm;
    }
    
    .contenedor>div {
        margin-left: 5%;
    }
    
    #portada {
        visibility: hidden;
    }
    
    @keyframes warning {
        0% {
            border-color: #a5a2a2;
            border-width: 1px;
            padding: .8em 1em;
        }
        50% {
            border-color: red;
            border-width: 1mm;
            padding: .8mm 0.8em;
        }
        100% {
            border-color: #a5a2a2;
            border-width: 1px;
            padding: .8em 1em;
        }
    }
    
    .descripcion_box {
        display: flex;
    }
    
    .descripcion_box>textarea {
        resize: none;
        width: 57.3%;
        margin-left: 1.1mm;
        margin-top: 1.1mm;
        font-size: 1.17em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .capitulos {
        max-height: 5cm;
        overflow-y: auto;
        border: 1px #a5a2a2 solid;
    }
    
    .capitulos ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .capitulos li {
        box-sizing: border-box;
        font-size: 1.17em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.8;
        cursor: pointer;
        padding-right: 2em;
    }
    
    .capitulos a {
        text-decoration: none;
        color: inherit;
        display: flex;
        width: 100%;
        padding: .8em 1em;
    }
    
    .capitulos label {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    
    .capitulos span {
        width: 50%;
        font-weight: 100;
        text-align: right;
    }
</style>
{% endblock %} {% block cuerpo %}
<form class="formulario_principal fuente_menu noselect">
    <div>
        <div class="form_izquierdo">
            <div class="marco">
                <img class="portada" src="{{ imagen }}" onContextMenu="return false;">
            </div>
            <div class="contenedor">
                <span class="subrayado info">Valoración</span><br> {{ include('/valorador.html.twig') }}
            </div>
            <div class="contenedor">
                <span class="subrayado info">Etiquetas</span><br>
                <div>{{ include('/etiquetas.html.twig',{ name: 'generos', seleccionadas: etiquetas_sel , "ETIQUETAS" : ETIQUETAS }) }}</div>
            </div>
        </div>
        <div class="form_derecho">
            <h1>Información</h1>
            <div>
                <span class="info">Título</span><span class="campo">{{ titulo }}</span>
            </div>
            <div>
                <span class="info">Fecha publicación</span><span class="campo">{{ fecha_publicacion }}</span>
            </div>
            <div class="descripcion_box">
                <span class="info">Descripción</span>
                <span class="campo" rows="6">
                    {{- descripcion -}}
                </span>
            </div>
            <br>
            <br>
            <br>
            <br>
            <h1>Capítulos</h1>
            <span class="info">Selecciona Capítulo</span>
            <div class="capitulos">
                <ul>
                    {% for i in range(1,6) %} {% for capitulo in capitulos %} {% if capitulo.id!=-1 %}
                    <li><a href="ver/{{ capitulo.id }}" title="{{ capitulo.titulo }}"><label>{{ capitulo.titulo }}</label><span>{{ capitulo.fecha_publicacion }}</span></a></li>
                    {% endif %} {% endfor %} {% endfor %}
                </ul>
            </div>
            <br>
        </div>
    </div>
</form>
{% endblock %} {% block codigo %}
<script type="text/javascript">
    function ajax(url, valor, metodo, callback) {
        metodo = metodo.toUpperCase();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callback(this.responseText);
            }
        };
        if (metodo == "POST" || metodo == "GET") {
            console.log(metodo);
            xhttp.open(metodo, url, true);
            if (metodo == "GET") {
                xhttp.send();
            } else {
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(valor);
            }
        }
    }

    function opcionSeries(checkbox) {
        var seriesDom = document.getElementById("series");
        if (checkbox.checked) { // ocultamos series
            seriesDom.style.visibility = "hidden";
        } else { // mostramos series
            seriesDom.style.visibility = "visible";
            seriesDom.scrollIntoView(true);
            let animeId = document.getElementById("anime_id").value;
            seleccionaSerie(document.getElementById("serie" + animeId), animeId);
        }
    }

    function seleccionaSerie(serieDom, id) {
        document.getElementById("lista_series").childNodes.forEach((nodo) => {
            if (nodo.tagName == "LI") {
                if (nodo.id == serieDom.id) nodo.setAttribute("seleccionada", "1")
                else nodo.setAttribute("seleccionada", "0");
            }

        });
        document.getElementById("anime_id").value = id; //JSON.stringify({ "anime_id" : id })
        ajax("/anime/get/" + id, "{ 'id' : '" + id + "' }", "POST", function(datos) {
            let anime = JSON.parse(datos),
                generos = anime["etiquetas"].replace(/^\s|\s\B/g, '').split(' ');
            document.getElementById("titulo").value = anime.titulo;
            document.getElementById("descripcion").value = anime.descripcion;
            document.getElementById("imagen").src = anime.imagen;

            document["cleargeneros"]();
            //document["seleccionageneros"](generos[0]);
            generos.forEach((genero) => {
                console.log(genero);
                document["seleccionageneros"](genero);
            });
        });
    }
</script>
{% endblock %}